*, *::before, *::after{
    box-sizing: border-box;
}
html{
    font-size: 17px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: aliceblue;
    
}

body, h1, h2, p{
    margin: 0;
    padding: 0;
}

h1, footer{
    text-align: center;
}

main{
    display: flex;
    background-color: white;
    width: 80%;
    margin: auto;
}